@import url('layout/fonts.css');

.wrapper {
  background-image: url('../pictures/bg.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -2;
}
.wrapper::before {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:-1;
  background-image: url('../pictures/texture.jpg');
  opacity: 0.3;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 940px;
  height: 100%;
  margin: 0 auto;
}
.logobox {
  display: flex;
  width: 100px;
  height: 75px;
}
.logobox__pic {
  background-image: url('../pictures/icons/logo.svg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.menu__list {
  width: 670px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul.menu__list {
  color: #ffffff;
  list-style-type: disc; 
  list-style-position: outside;
}
.menu__list-item {
  align-items: center;
  margin-left: 30px;
}
.menu__item:first-child {
  margin-left: 0px;
}

.menu__link {
  font-family:'ubunturegular';
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1.2;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul.menu__list {
  color: #ffffff;
  list-style-type: disc; 
  list-style-position: outside;
}
.menu__list-item:first-child {
  list-style-type: none;
}
.button {
  background: #e45028;
  width: 97px;
  height: 35px;
  border-radius: 3px;
  padding: 10px 12px 17px;
  font-family: 'ubuntumedium';
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color: white;
  border: 0; 
  margin-left: 12px;
  cursor: pointer;
}
.banner {
  display: flex;
  flex-direction: row;
  margin-bottom: 90px;
}
.container_banner {
  align-items: flex-start;
  margin-right: 12px;
  align-items: center;
}
.banner-img {
  display: flex;
  flex-direction: row;
}
.banner-img__drops {
  width: 100%;
  height: 100%;
  z-index: 2;
  margin-left: -410px;
  margin-top: 74px;
}
.banner-img__burger {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.banner-text{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 12px;
  z-index: 3;
  padding-top: 70px;
}
.title {
  font-family: 'gagalinregular';
  color: #f9b43b;
  text-transform: uppercase;
  font-size: 68px;
  letter-spacing: 1.8px;
  margin:0 0 45px;
}
.title__info {
  font-family: 'lifehackmedium';
  color: white;
  font-size: 58px;
  margin: 0;
}
.pagination {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 0;
  width: 20px;
  height: 180px;
  justify-content: space-around;
  cursor: pointer;
}
.radio__label {
  display: flex;
  position: relative;
}

.radio__input{
  position: absolute;
  top: 0;
  left: -9999px;
}

 .radio__input-fake {
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  
}

.transition {
  display: flex;
  align-self: center;
  width: 34px;
  height: 17px;
}
.transition__link {
  width: 100%;
  height: 100%;
  background-image: url('../pictures/icons/arrow-scroll.svg');
  background-repeat: no-repeat;
}


.wrapper-pluses {
  background-image: url('../pictures/bgone.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding-top: 135px;
}
.container_column {
  flex-direction: column;
}
.title_pluses {
  color: black;
  margin-bottom: 55px;
}
.pluses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.pluse {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.pluse__pic {
  width: 100px;
  height: 92px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.pluse__pic_meat {
  
  background-image: url('../pictures/icons/meat.svg');
}
.pluse__pic_hand {
  background-image: url('../pictures/icons/hand.svg');
}
.pluse__pic_natural {
  background-image: url('../pictures/icons/natural.svg');
}
.pluse__info {
  text-align: center;
}
.title__info_pluse {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}

.pluse__desc {
  font-family: 'ubuntulight';
  font-size: 13px;
  color: #848382;
  line-height: 1.8;
  margin:0;
  
}

.wrapper-reviews {
  display: flex;
  margin: 0;
  align-items: center;
  flex-flow: row wrap;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  filter: grayscale(80%);
}
.reviews-avatar {
  margin: 0;
  width: 274px;
  height: 325px;
  background-repeat: no-repeat;
  background-position: center;
  
}
.reviews-avatar_one {
  background-image: url('../pictures/photo-one.jpg');
}
.reviews-avatar_two {
  background-image: url('../pictures/photo-two.jpg');
}
.reviews-avatar_three {
  background-image: url('../pictures/photo-three.jpg');
}
.reviews-avatar_four {
  background-image: url('../pictures/photo-four.jpg');
}
.reviews-avatar_five {
  background-image: url('../pictures/photo-five.jpg');
}
.reviews-avatar_six {
  background-image: url('../pictures/photo-six.jpg');
}
.reviews-avatar_seven {
  background-image: url('../pictures/photo-seven.jpg');
}
.reviews-avatar_eight {
  background-image: url('../pictures/photo-eight.jpg');
}
.reviews-avatar__info {
  padding-top: 50px;
  text-align: left;
  color: white;
  font-size: 14px;
}
.reviews-avatar__name {
  font-family: 'gagalinregular';
  margin: 0 0 25px 10px;
  
}
.reviews-avatar__text {
  font-family: 'ubuntulight';
  margin-left: 10px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.button_reviews-avatar {
  margin-left: 10px;
  width: 110px;
  background: #2f3234;
}
.button_reviews-avatar:hover {
  overflow: hidden;
  background: #1f2122;
  background-repeat: no-repeat;
}