.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(100%);  
  

  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }
}

.reviews__hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0px 19px;
  background: rgba(#454545, .7);
  opacity: 0;
  transition:  1s;
}
.reviews__text {
  font-family: 'ubuntulight';
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  color: white;
}