
.welcome {
  background-image: url('../pictures/texture.png');
  
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.welcome__video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;  
  z-index: -1;
}  


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
  width: 100%;
  padding-top: 12px;
}
.logo-icon {
  width: 98.265px;
  height:74.317px;
}

.header__buttons {
  display: flex;
  align-items: center;
}
.welcome__container {
  flex: 1;
  flex-direction: column;
}

.welcome__content {
  flex: .75;
  display: flex;
  align-items: center;
  
}
.menu__list {
  display: flex;
  flex-direction: row;
  
}
.menu__link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family:'ubuntumedium';
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1.1;
  text-transform: uppercase;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;   
    margin: 0 16px;
  }
}

.menu__item {
  &:last-child {
    .menu__link:after {
      display: none;
    }
  }
}

.welcome__picture {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-right: 15px;
}
.welcome__burger-img {
  position: relative;
  margin-left: 34px;
}

.welcome__drops-img {
  position: absolute;
  top: 158px;
}

.welcome__text {
  padding-top: 60px;
  width: 50%;
}
.welcome__desc{
  font-family: 'lifehackmedium';
  color: white;
  font-size: 58px;
  line-height: 60px;
}



.to-next-section {
  display: flex;
  align-self: center;
  margin-bottom: 60px;
  cursor: pointer;
}
.arrow-down {
  width: 100%;
  height: 100%;
}


