.welcome {
  background-image: url('../pictures/texture.png');
  
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.welcome__video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;  
  z-index: -1;
}  


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: rem(88px);
  width: 100%;
  padding-top: rem(12px);
}
.logo-icon {
  width: rem(98.265px);
  height:rem(74.317px);
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.humburger {
  width: rem(25px);
  cursor: pointer;
  margin-left: rem(30px);
  margin-right: rem(20px);
  margin-top: rem(5px);
  display: none;

  @include tablets {
    display: flex;
    flex-direction: column;
  }
  

  &__item {
    height: 4px;
    margin-bottom: rem(5px);
    border-radius: rem(4px);
    background-color: #fff;
  }
 
}
.welcome__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  
}

.welcome__content {
  flex: .75;
  display: flex;
  align-items: center;
  

  @include tablets {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 17%;
    flex:0.8;
  }

  @include phones {
    flex:0.9;
    padding: 0 12%;
  }
  
  
}
.menu__list {
  display: flex;
  flex-direction: row;

  @include tablets {
    display: none;
  }
  
}
.menu__link {
  color: #fff;
  text-decoration: none;
  font-family:'ubuntumedium';
  font-size: rem(13px);
  letter-spacing: 1.1;
  text-transform: uppercase;
  cursor: pointer;
  
}

.menu__item {
  display: flex; 
  align-items: center;
  &:after {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #fff;   
    margin: 0 rem(15px);
    }
  &:last-child::after{
    display: none;
    }
 
  
}

.welcome__picture {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-right: rem(15px);
  position: relative;

  @include tablets {
    align-items: center;
    flex: 1;
    width: 100%;
    margin-right: 0;
    min-height: rem(430px);
  }
  @include phones {
    min-height: rem(240px);
  }
 }

.welcome__burger-img {
  

  @include tablets {
    margin-left: rem(0px);
    width: 80%;
  }
  @include phones {
    
  }
}

.welcome__drops-img {
  position: absolute;
  top: 16%;
  left:-1%;

  @include tablets{
    top: 16%;
    left: 1%;
    max-width: 100%;
  }
  @include phones {
    max-width: 90%;
    position: absolute;
}
}


.welcome__text {
  padding-top: rem(60px);
  width: 50%;

  @include tablets {
    width: 100%;
    padding-top: rem(25px);
    text-align: center;
    flex: 1;
    
  }
}
.welcome__desc{
  font-family: 'lifehackmedium';
  color: white;
  font-size: rem(58px);
  line-height: rem(60px);

  @include tablets {
    font-size: rem(58px);
    text-align: center;
  }
  @include phones {
    // font-size: rem(52px);
    
  }

}



.to-next-section {
  display: flex;
  align-self: center;
  margin-bottom: rem(60px);
  cursor: pointer;

  @include tablets {
    margin-bottom: 35px;
  }
  @include phones {
    margin-bottom: 30px;
  }
}
.arrow-down {
  width: 100%;
  height: 100%;
}


